<!DOCTYPE html>
<html lang="en">
<head>
    <title>Expert Cyber Defence Intelligence</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/icon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300">
    <link rel="stylesheet" href="~/assets/font/font-icon/font-awesome-4.4.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/font/font-icon/font-svg/css/Glyphter.css" />
    <link rel="stylesheet" href="~/assets/libs/animate/animate.css" />
    <link rel="stylesheet" href="~/assets/libs/bootstrap-3.3.5/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/libs/owl-carousel-2.0/assets/owl.carousel.css" />
    <link rel="stylesheet" href="~/assets/libs/selectbox/css/jquery.selectbox.css" />
    <link rel="stylesheet" href="~/assets/libs/fancybox/css/jquery.fancybox.css" />
    <link rel="stylesheet" href="~/assets/libs/fancybox/css/jquery.fancybox-buttons.css" />
    <link rel="stylesheet" href="~/assets/libs/media-element/build/mediaelementplayer.min.css" />
    <link rel="stylesheet" href="#" id="color-skins" />
    <script src="~/assets/libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/assets/libs/js-cookie/js.cookie.js"></script>
    <script>if ((Cookies.get('color-skin') != undefined) && (Cookies.get('color-skin') != 'color-1')) {
        $('#color-skins').attr('href', 'assets/css/' + Cookies.get('color-skin') + '.css');
    } else if ((Cookies.get('color-skin') == undefined) || (Cookies.get('color-skin') == 'color-1')) {
        $('#color-skins').attr('href', '/assets/css/color-1.css');
    }``
    </script>
</head>
<body>
@if (ViewBag.dontShow == null) {
<header>
    <div class="header-topbar">
        <div class="container">
            <div class="topbar-left pull-left">
                <div class="email"><a href="#"><i class="topbar-icon fa fa-envelope-o"></i><span>hello.shinway@gmail.com</span></a></div>
                <div class="hotline"><a href="#"><i class="topbar-icon fa fa-phone"></i><span>+93 78 807 7685</span></a></div>
            </div>
            <div class="topbar-right pull-right">
                <div class="socials"><a href="https://www.facebook.com/ECDI1/" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a><a href="#" class="blog"><i class="fa fa-rss"></i></a><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></div>
                <div class="group-sign-in">
                    <a href="/Home/Login" class="login">login</a>
                    @if (User.Identity.IsAuthenticated) {
                        <a href="/Courses/Index" class="register">Management</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="header-main homepage-01">
        <div class="container">
            <div class="header-main-wrapper">
                <div class="navbar-heade">
                    <div class="logo pull-left"><a class="header-logo"><img style="height: 70px;"  src="~/a.jpg" alt=""/></a></div>
                    <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle edugate-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <nav class="navigation collapse navbar-collapse pull-right">
                    <ul class="nav-links nav navbar-nav">
                        <li b-c7j36eeidq="" style="margin-right: 233px;" class="dropdown">
                            <a class="main-menu" style="color: green; font-size: 1.2em;" b-c7j36eeidq="">Expert Cyber Defence Intelligence</a>
                        </li>
                        <li><a href="/Home/Index" class="main-menu">Home</a></li>
                        <li class="dropdown"><a href="javascript:void(0)" class="main-menu">Courses<span class="fa fa-angle-down icons-dropdown"></span></a>
                            <ul class="dropdown-menu edugate-dropdown-menu-1">
                                <li><a href="/Home/Courses?course=CompTIA Network" class="link-page">CompTIA Network</a></li>
                                <li><a href="/Home/Courses?course=CCTV" class="link-page">CCTV</a></li>
                                <li><a href="/Home/Courses?course=Cisco Network" class="link-page">Cisco Network</a></li>
                                <li><a href="/Home/Courses?course=Ethical Hacking & Penetration Testing" class="link-page">Ethical Hacking & Penetration Testing</a></li>
                                <li><a href="/Home/Courses?course=Linux" class="link-page">Linux</a></li>
                                <li><a href="/Home/Courses?course=Programming" class="link-page">Programming</a></li>
                                <li><a href="/Home/Courses?course=Web Development" class="link-page">Web Development</a></li>
                                @*<li><a href="/Home/Courses?course=Mobile Application" class="link-page">Mobile Application (Coming Soon)</a></li>*@
                                <li><a href="#" class="link-page">Mobile Application (Coming Soon)</a></li>
                                <li><a href="/Home/Courses?course=Web Designing" class="link-page">Web Designing</a></li>
                                <li><a href="/Home/Courses?course=Full Stack Development" class="link-page">Full Stack Development</a></li>
                                <li><a href="/Home/Courses?course=Database Designing" class="link-page">Database Designing</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/ContactUs" class="main-menu">Contact Us</a></li>
                        <li><a href="/Home/AboutUs" class="main-menu">About Us</a></li>
                        <li><a href="contact.html" class="main-menu">....</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
}
<!-- WRAPPER-->
@RenderBody()
<!-- FOOTER-->
@if (ViewBag.dontShow == null) {
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-wrapper">
                <div class="footer-top-left"><p class="footer-top-focus">BECOME AN INSTRUCTOR</p>

                    <p class="footer-top-text">Join thousand of instructors and earn money hassle free!</p></div>
                <div class="footer-top-right">
                    <button onclick="window.location.href='contact.html'" class="btn btn-blue btn-bold"><span>GET STARTED NOW</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="footer-main-wrapper">
                <div class="row">
                    <div class="col-2">
                        <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                            <div class="edugate-widget widget">
                                <div class="title-widget">EDUGATE</div>
                                <div class="content-widget"><p>Edugate is a great start for an education personnel or organization to start the online business with 1 Click.</p>

                                    <div class="info-list">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-envelope-o"></i><a href="#">hello@edugate.com</a></li>
                                            <li><i class="fa fa-phone"></i><a href="#">P: 3333 222 1111</a></li>
                                            <li><i class="fa fa-map-marker"></i><a href="#"><p>99 Barnard St - Suite 111</p>

                                                <p>United States - GA 22222</p></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                            <div class="useful-link-widget widget">
                                <div class="title-widget">USEFUL LINKS</div>
                                <div class="content-widget">
                                    <div class="useful-link-list">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Teachers</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Courses</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Support</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Why Edugate</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Social Media</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Site Map</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Company</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Latest Courses</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Partners</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Blog Post</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Help Topic</a></li>
                                                    <li><i class="fa fa-angle-right"></i><a href="#">Policies</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                            <div class="gallery-widget widget">
                                <div class="title-widget">GALLERY</div>
                                <div class="content-widget">
                                    <div class="gallery-list"><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-01.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-02.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-03.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-04.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-05.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-06.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-07.jpg" alt="" class="img-responsive"/></a><a href="#" class="thumb"><img src="~/assets/images/gallery/gallery-08.jpg"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        alt="" class="img-responsive"/></a></div>
                                    <div class="clearfix"></div>
                                    <a href="#" class="view-more">View more&nbsp;<i class="fa fa-angle-double-right mls"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 sd380">
                            <div class="mailing-widget widget">
                                <div class="title-widget">MAILING</div>
                                <div class="content-wiget"><p>Sign up for our mailing list to get latest updates and offers.</p>

                                    <form action="http://swlabs.co/edugate/html/index.html">
                                        <div class="input-group"><input type="text" placeholder="Email address" class="form-control form-email-widget"/><span class="input-group-btn"><input type="submit" value="✓" class="btn btn-email"/></span></div>
                                    </form>
                                    <p>We respect your privacy</p>

                                    <div class="socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a><a href="#" class="blog"><i class="fa fa-rss"></i></a><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hyperlink">
                <div class="pull-left hyper-left">
                    <ul class="list-inline">
                        <li><a href="index-2.html">HOME</a></li>
                        <li><a href="courses.html">COURSES</a></li>
                        <li><a href="about-us.html">ABOUT</a></li>
                        <li><a href="categories.html">PAGES</a></li>
                        <li><a href="news.html">NEWS</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </div>
                <div class="pull-right hyper-right">SWLABS</div>
            </div>
        </div>
    </div>
</footer>
<div class="theme-setting">
    <div class="theme-loading">
        <div class="theme-loading-content">
            <div class="dots-loader"></div>
        </div>
    </div>
    <a hidden href="javascript:;" class="btn-theme-setting"><i class="fa fa-tint"></i></a>

    <div class="content-theme-setting"><h2 class="title">setting color</h2>
        <ul class="list-unstyled list-inline color-skins">
            <li data-color="color-1"></li>
            <li data-color="color-2"></li>
            <li data-color="color-3"></li>
            <li data-color="color-4"></li>
            <li data-color="color-5"></li>
            <li data-color="color-6"></li>
            <li data-color="color-7"></li>
            <li data-color="color-8"></li>
            <li data-color="color-9"></li>
            <li data-color="color-10"></li>
        </ul>
    </div>
        </div>
    }
    <div class="body-2 loading">
    <div class="dots-loader"></div>
</div>
<script>
if ((Cookies.get('color-skin') != undefined) && (Cookies.get('color-skin') != 'color-1')) {
    $('.logo .header-logo img').attr('src', '/a.jpg' + Cookies.get('color-skin') + '.png');
} else if ((Cookies.get('color-skin') == undefined) || (Cookies.get('color-skin') == 'color-1')) {
    $('.logo .header-logo img').attr('src', '/a.jpg');
}
</script>
<script src="~/assets/libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="~/assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
<script src="~/assets/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
<script src="~/assets/libs/appear/jquery.appear.js"></script>
<script src="~/assets/libs/count-to/jquery.countTo.js"></script>
<script src="~/assets/libs/wow-js/wow.min.js"></script>
<script src="~/assets/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
<script src="~/assets/libs/isotope/isotope.pkgd.min.js"></script>
<script src="~/assets/libs/fancybox/js/jquery.fancybox.js"></script>
<script src="~/assets/libs/fancybox/js/jquery.fancybox-buttons.js"></script>
<script src="~/assets/js/main.js"></script>
<script src="~/assets/js/pages/homepage.js"></script>
</body>
</html>