@model List<Course>
<div id="wrapper-content"><!-- PAGE WRAPPER-->
    <div id="page-wrapper"><!-- MAIN CONTENT-->
        <div class="main-content"><!-- CONTENT-->
            <div class="content"><!-- SLIDER BANNER-->
                <div class="section slider-banner set-height-top">
                    <div class="slider-item">
                        <div class="slider-1">
                            <div class="slider-caption">
                                <div class="container"><h5 class="text-info-2"></h5>
                                    <h style="color: white; text-shadow: 0px 0px 6px blue, 0px 0px 6px blue;" class="text-info-1">Standard Classrooms</h>
                                    <p style="color: white; text-shadow: 0px 0px 6px blue, 0px 0px 6px blue;" class="text-info-2">Start Learning Now!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-2">
                            <div class="slider-caption">
                                <div class="container"><h3  class="text-info-2"></h3>
                                    @*<h1  class="text-info-1">You can learn anything</h1>*@
                                    <p style="color: white; text-shadow: 0px 0px 6px blue, 0px 0px 6px blue;"  class="text-info-1">Network & Cyber Security</p>
                                    <p style="color: white; text-shadow: 0px 0px 6px blue, 0px 0px 6px blue;"  class="text-info-1">Ethical Hacking</p>
                                    @*<button class="btn btn-green"><span>Start learning now !</span></button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-3">
                            <div class="slider-caption">
                                <div class="container"><h5 class="text-info-2"></h5>
                                    <p style="color: white; text-shadow: 0px 0px 6px blue, 0px 0px 6px blue;"  class="text-info-1">Programming</p>
                                    <p style="color: white; text-shadow: 0px 0px 6px blue, 0px 0px 6px blue;"  class="text-info-1">&</p>
                                    <p style="color: white; text-shadow: 0px 0px 6px blue, 0px 0px 6px blue;"  class="text-info-1">Software Development</p>
                                    @*<button class="btn btn-green"><span>Start learning now !</span></button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CHOOSE COURSES-->
                <div class="section section-padding choose-course">
                    <div class="container">
                        <div class="group-title-index"><h4 class="top-title">CHOOSE YOUR COURSE</h4>

                            <h2 class="center-title">GET THE WORLD CLASS & VERIFIED COURSE</h2>

                            <div class="bottom-title"><i class="bottom-icon icon-a-1-01-01"></i></div>
                        </div>
                        <div class="choose-course-wrapper row">
                            <div class="col-md-4 col-xs-6">
                                <div class="item-course item-1">
                                    <div class="icon-circle">
                                        <div class="icon-background"><i class="icons-img icon-globe"></i></div>
                                        <div class="info">
                                            <div class="info-back"><a href="/Home/Courses?course=CompTIA Network">Network Plus & Security Plus</a></div>
                                        </div>
                                    </div>
                                    <div class="name-course"><a href="/Home/Courses?course=CompTIA Network">CompTIA Network</a><i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="item-course item-2">
                                    <div class="icon-circle">
                                        <div class="icon-background"><i class="icons-img fa fa-database"></i></div>
                                        <div class="info">
                                            <div class="info-back"><a href="/Home/Courses?course=Database Designing">Microsoft SQL Server, MySQL</a></div>
                                        </div>
                                    </div>
                                    <div class="name-course"><a href="/Home/Courses?course=Database Designing">Database</a><i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="item-course item-3">
                                    <div class="icon-circle">
                                        <div class="icon-background"><i class="icons-img icon-computer_network"></i></div>
                                        <div class="info">
                                            <div class="info-back"><a href="/Home/Courses?course=Programming">Python, Java, JavaScript, C/C++, C# ...</a></div>
                                        </div>
                                    </div>
                                    <div class="name-course"><a href="/Home/Courses?course=Programming">Programming</a><i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="item-course item-4">
                                    <div class="icon-circle">
                                        <div class="icon-background"><i class="icons-img icon-photocamera_1"></i></div>
                                        <div class="info">
                                            <div class="info-back"><a href="/Home/Courses?course=Cisco Network">CCNA, CCNP, SVPN, SNCF, CICE & CCTV</a></div>
                                        </div>
                                    </div>
                                    <div class="name-course"><a href="/Home/Courses?course=Cisco Network">Cisco Network & CCTV</a><i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="item-course item-5">
                                    <div class="icon-circle">
                                        <div class="icon-background"><i class="icons-img icon-credit_card"></i></div>
                                        <div class="info">
                                            <div class="info-back"><a href="/Home/Courses?course=Ethical Hacking & Penetration Testing">CEHv11, PWK, SEC560 SANS, LPT ...</a></div>
                                        </div>
                                    </div>
                                    <div class="name-course"><a href="/Home/Courses?course=Ethical Hacking & Penetration Testing">Ethical Hacking & Penetration Testing</a><i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="item-course item-6">
                                    <div class="icon-circle">
                                        <div class="icon-background"><i class="icons-img icon-chat_bubbles"></i></div>
                                        <div class="info">
                                            <div class="info-back"><a href="/Home/Courses?course=Full Stack Development">HTML/CSS/JS, BootStrap, jQuery, ASP.NET Core, SQL Server</a></div>
                                        </div>
                                    </div>
                                    <div class="name-course"><a href="/Home/Courses?course=Full Stack Development">Software Development</a><i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PROGRESS BARS-->
                <div class="section progress-bars section-padding">
                    <div class="container">
                        <div class="progress-bars-content">
                            <div class="progress-bar-wrapper"><h2 class="title-2">Some important facts about us</h2>

                                <div class="row">
                                    <div class="content">
                                        <div class="col-sm-3">
                                            <div class="progress-bar-number">
                                                <div data-from="0" data-to="26" data-speed="1000" class="num">0</div>
                                                <p class="name-inner">teachers</p></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="progress-bar-number">
                                                <div data-from="0" data-to="38" data-speed="1000" class="num">0</div>
                                                <p class="name-inner">courses</p></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="progress-bar-number">
                                                <div data-from="0" data-to="1284" data-speed="1000" class="num">0</div>
                                                <p class="name-inner">members</p></div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="progress-bar-number">
                                                <div data-from="0" data-to="1" data-speed="1000" class="num">0</div>
                                                <p class="name-inner">Countries</p></div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="group-button">
                                    <button onclick="window.location.href='categories.html'" class="btn btn-transition-3"><span>Purchase theme</span></button>
                                    <button onclick="window.location.href='about-us.html'" class="btn btn-green-3"><span>start Learn now</span></button>
                                </div>
                                <div class="group-btn-slider">
                                    <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                                    <div class="btn-next"><i class="fa fa-angle-right"></i></div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- WHY CHOOSE US-->
                <div class="section why-choose-us">
                    <div class="why-choose-us-wrapper-top">
                        <div class="container">
                            <div class="why-choose-us-wrapper"><h2 class="title-2">Why ECDI?</h2>

                                <p>Expert Cyber Defence Intelligence provide standard courses for different in-demand skills such as network, cyber security, hacking, programming, software develpment, database design.</p>
                                @*<button onclick="window.location.href='categories.html'" class="btn btn-green-2"><span>start Learn now</span></button>*@
                            </div>
                            <div data-wow-delay="0.2s" data-wow-duration="1.2s" class="background-girl-1 wow fadeInUp"><img src="~/assets/images/girl-1.png" alt="" class="img-responsive"/></div>
                        </div>
                    </div>
                    <div class="why-choose-us-wrapper-bottom background-opacity">
                        <div class="container">
                            <div data-wow-delay="0.4s" data-wow-duration="1s" class="row why-choose-us-wrapper wow zoomIn">
                                <div class="customs-row">
                                    <div class="col-sm-4 col-xs-6 section-icon"><i class="fa fa-pencil-square-o"></i>

                                        <p> Over 20 courses</p></div>
                                    <div class="col-sm-4 col-xs-6 section-icon"><i class="fa fa-compress"></i>

                                        <p> Standard Learning Materials</p></div>
                                </div>
                                <div class="customs-row">
                                    <div class="col-sm-4 col-xs-6 section-icon"><i class="fa fa-paper-plane"></i>

                                        <p> Professional Teachers</p></div>
                                    <div class="col-sm-4 col-xs-6 section-icon"><i class="fa fa-folder-open"></i>

                                        <p> We Provide Tutorial Videos</p></div>
                                </div>
                                <div class="customs-row">
                                    <div class="col-sm-4 col-xs-6 section-icon"><i class="fa fa-external-link"></i>

                                        <p> Updated & Latest</p></div>
                                    <div class="col-sm-4 col-xs-6 section-icon"><i class="fa fa-stumbleupon-circle"></i>

                                        <p> Reasonable Fees</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PRICING-->
                <div class="section section-padding pricing">
                    <div class="container">
                        <div class="group-title-index"><h4 class="top-title">Other Services</h4>

                            <h2 class="center-title">We Offer You More!</h2>

                            <div class="bottom-title"><i class="bottom-icon icon-a-1-01-01"></i></div>
                        </div>
                        <div class="row">
                            <div class="pricing-wrapper">
                                <div class="col-sm-4">
                                    <div class="pricing-widget">
                                        <div class="pricing-header">
                                            <div class="price-cost">
                                                <div class="inner"><p data-from="0" data-to="0" data-speed="1000" class="inner-number">200</p></div>
                                            </div>
                                        </div>
                                        <div class="pricing-content"><h3 class="pricing-title">Website</h3>

                                            <p class="pricing-subtitle">Introduce Your Business To Customers!</p>
                                            <ul class="pricing-list">
                                                <li><p><strong>Home Page</strong></p></li>
                                                <li><p><strong>About Us Page</strong></p></li>
                                                <li><p><strong>Services Page</strong></p></li>
                                                <li><p><strong>Contact Us Page</strong></p></li>
                                                <li><p><strong>Semi-Dynamic Contents</strong></p></li>
                                                <li><p><strong>Low Hosting Fee</strong></p></li>
                                            </ul>
                                            <div class="pricing-button"><a href="#">choose plan</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="pricing-widget main active">
                                        <div class="pricing-header">
                                            <div class="price-cost">
                                                <div class="inner"><p data-from="0" data-to="35" data-speed="1000" class="inner-number">300</p></div>
                                            </div>
                                        </div>
                                        <div class="pricing-content"><h3 class="pricing-title">Database</h3>

                                            <p class="pricing-subtitle">per month when paid annually</p>
                                            <ul class="pricing-list">
                                                <li><p><strong>Fully Dynamic Contents</strong></p></li>
                                                <li><p><strong>Light & Fast</strong></p></li>
                                                <li><p><strong>Dari & Pashto Support</strong></p></li>
                                                <li><p><strong>Automatic Database Backup</strong></p></li>
                                                <li><p><strong>Automatic Report Generation</strong></p></li>
                                                <li><p><strong>Save Documents, Pictures and Files</strong></p></li>
                                                <li><p><strong>Free Domain Name</strong></p></li>
                                            </ul>
                                            <div class="pricing-button"><a href="#">choose plan</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="pricing-widget">
                                        <div class="pricing-header">
                                            <div class="price-cost">
                                                <div class="inner"><p data-from="0" data-to="89" data-speed="1000" class="inner-number">0</p></div>
                                            </div>
                                        </div>
                                        <div class="pricing-content"><h3 class="pricing-title">CCTV Installation</h3>

                                            <p class="pricing-subtitle">per month when paid annually</p>
                                            <ul class="pricing-list">
                                                <li><p><strong>Life time</strong> access</p></li>
                                                <li><p><strong>Unlimited</strong> All courses</p></li>
                                                <li><p><strong>3000+</strong> lessons & growing</p></li>
                                                <li><p><strong>Free</strong> supporter</p></li>
                                                <li><p><strong>Free</strong> Ebook Downloads</p></li>
                                                <li><p><strong>Premium</strong> tutorials</p></li>
                                                <li><p><strong>Unlimited</strong> registered user</p></li>
                                            </ul>
                                            <div class="pricing-button"><a href="#">choose plan</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-btn-slider">
                            <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                            <div class="btn-next"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <!--LATEST NEW-->
                <!-- BEST STAFF-->
                <div class="section section-padding background-opacity best-staff">
                    <div class="container">
                        <div class="group-title-index"><h4 class="top-title">touch them if you want</h4>

                            <h2 class="center-title">learn from the best</h2>

                            <div class="bottom-title"><i class="bottom-icon icon-icon-05"></i></div>
                        </div>
                        <div class="best-staff-wrapper">
                            <div class="best-staff-content">
                                <div class="staff-item">
                                    <div class="staff-item-wrapper">
                                        <div class="staff-info"><a href="#" class="staff-avatar"><img src="~/TeacherPics/922480c3-d5e9-4ad1-86c7-8c2cb6428212 - Copy.jpg" alt="" class="img-responsive"/></a><a href="#" class="staff-name">Roman Noori</a>

                                            <div class="staff-job">Cyber Security Master Trainer</div>
                                            <div class="staff-desctiption">CCIE RNS CCIE Security (written).
                                                Network+ Security+ CND, CEHv11,ECSA,PWK,SEC504,SEC560
                                                Firewall ASA, FTD, Palo alto, Checkpoint, FortiGate. 
                                                Microsoft Certified Trainer(MTA).
                                                Certified EC-Council Instructor (CEI)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                </div>
                                <div class="staff-item">
                                    <div class="staff-item-wrapper">
                                        <div class="staff-info"><a href="#" class="staff-avatar"><img src="~/TeacherPics/153.jpg" alt="" class="img-responsive"/></a><a href="#" class="staff-name">Mustafa Khazaee</a>

                                            <div class="staff-job">Programming & SE Trainer</div>
                                            <div class="staff-desctiption">
                                                Bachelor of Software Engineering
                                                ICPC Finalist. Full-Stack Developer
                                                .NET Core, Angular, Flutter, SQL Server
                                            </div>
                                        </div>
                                    </div>
                                    <div class="staff-socials">
                                        <a href="https://www.facebook.com/profile.php?id=100078998110586" class="facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="https://t.me/MustafaKhazaee" class="google"><i class="fa fa-whatsapp"></i></a>
                                        <a href="https://www.linkedin.com/in/mustafa-khazaee-4709b0233/" class="twitter"><i class="fa fa-linkedin"></i></a></div>
                                </div>
                                <div class="staff-item">
                                    <div class="staff-item-wrapper">
                                        <div class="staff-info"><a href="#" class="staff-avatar"><img src="~/TeacherPics/noori.PNG" alt="" class="img-responsive"/></a><a href="#" class="staff-name">Peyman Noori</a>

                                            <div class="staff-job">Network Engineer</div>
                                            <div class="staff-desctiption">
                                                CCNA, CCNP, CCIE, Linux, Network+, CCTV Trainer
                                                Bachelore of Information Technology
                                                CCIE (written). CCTV Engineer
                                            </div>
                                        </div>
                                    </div>
                                    <div class="staff-socials">
                                        <a href="https://www.facebook.com/peyman.noori.526" class="facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="google"><i class="fa fa-whatsapp"></i></a>
                                        <a href="#" class="twitter"><i class="fa fa-linkedin"></i></a></div>
                                </div>
                                <div class="staff-item">
                                    <div class="staff-item-wrapper">
                                        <div class="staff-info"><a href="#" class="staff-avatar"><img src="~/TeacherPics/omid.jpg" alt="" class="img-responsive"/></a><a href="#" class="staff-name">Omid Nasri</a>

                                            <div class="staff-job">IT support technician</div>
                                            <div class="staff-desctiption">
                                                Onsite & Remote Technical Support
                                                LAN & WAN Connectivity & Maintenance
                                                Computer Hardware Systems & Components
                                            </div>
                                        </div>
                                    </div>
                                    <div class="staff-socials">
                                        <a href="https://www.facebook.com/profile.php?id=100006239447002" class="facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="google"><i class="fa fa-whatsapp"></i></a>
                                        <a href="https://www.linkedin.com/in/omid-nasri-7890b920b/" class="twitter"><i class="fa fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-btn-slider">
                        <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                        <div class="btn-next"><i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
                <!-- PICTURE AND GALLERY-->
                <div class="section section-padding picture-gallery">
                    <div class="group-title-index"><h4 class="top-title">see and feel it</h4>

                        <h2 class="center-title">Pictures and gallery</h2>

                        <div class="bottom-title"><i class="bottom-icon icon-a-1-01"></i></div>
                    </div>
                    <div class="picture-gallery-wrapper"><!-- Nav tabs-->
                        <!-- Tab panes-->
                        <div class="tab-content gallery-content">
                            <div id="campus" role="tabpanel" class="tab-pane fade in active">
                                <div class="grid">
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-1.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-1.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-2.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-2.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-3.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-3.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-4.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-4.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-6.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-6.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-5.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-5.jpg" alt="" class="img-responsive"/></a></div>
                                </div>
                            </div>
                            <div id="education" role="tabpanel" class="tab-pane fade">
                                <div class="grid">
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-1.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-1.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-2.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-2.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-3.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-3.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-4.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-4.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-6.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-6.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-5.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-5.jpg" alt="" class="img-responsive"/></a></div>
                                </div>
                            </div>
                            <div id="building" role="tabpanel" class="tab-pane fade">
                                <div class="grid">
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-1.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-1.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-2.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-2.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-3.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-3.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-4.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-4.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-6.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-6.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-5.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-5.jpg" alt="" class="img-responsive"/></a></div>
                                </div>
                            </div>
                            <div id="teachers" role="tabpanel" class="tab-pane fade">
                                <div class="grid">
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-1.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-1.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-2.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-2.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-3.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-3.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-4.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-4.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-6.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-6.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-5.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-5.jpg" alt="" class="img-responsive"/></a></div>
                                </div>
                            </div>
                            <div id="students" role="tabpanel" class="tab-pane fade">
                                <div class="grid">
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-1.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-1.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-2.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-2.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height3"><a href="~/assets/images/lib-pictures/pictures-3.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-3.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-4.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-4.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height2"><a href="~/assets/images/lib-pictures/pictures-6.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-6.jpg" alt="" class="img-responsive"/></a></div>
                                    <div class="grid-item grid-item-height1"><a href="~/assets/images/lib-pictures/pictures-5.jpg" class="content fancybox-button"><img src="~/assets/images/lib-pictures/pictures-5.jpg" alt="" class="img-responsive"/></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SLIDER LOGO-->
                <div class="section slider-logo">
                    <div class="container">
                        <div class="slider-logo-wrapper">
                            <div class="slider-logo-content">
                                <div class="carousel-logos owl-carousel">
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-1.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-2.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-3.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-4.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-5.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-6.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-1.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-2.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-3.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-4.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-5.png" alt="" class="img-responsive"/></a></div>
                                    <div class="logo-iteam item"><a href="#"><img src="~/assets/images/logo/logo-carousel-6.png" alt="" class="img-responsive"/></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>